body {
    background-image: url(../HW3/assets/images/U7ol0xb.jpg);
    color: #ffffff

}

.container {
    border: solid#af4744;
    width: 400px;
    height: 400px;
    background-image: url(../HW3/assets/images/OFK4aYT.jpg);  
    margin-left: 390px;
    margin-top: 153px;
    box-shadow: 5px 10px #0a0606;   
}

.form {
    margin-top: 157px ;
    margin-left: 101px;
}


#gpassword {
    width: 200px;
    height: 20px;
   
}

 #one {
     color: #ffffff;
     font-family: 'Times New Roman', Times, serif;
     font-size: 34px;
     margin-top: -93px;
     margin-left: 59px;
     position: absolute;
     border-bottom: solid #af4744;
 }

#two {
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;

}




